@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IM+Fell+English&family=Trade+Winds&display=swap');

.editForm {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editInputs {
  margin: 10px;
}

.editSubmit {
  margin: 10px;
}

.editFormTitle {
  font-family: 'Bebas Neue';
}