@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IM+Fell+English&family=Trade+Winds&display=swap');

.products {
display: flex;
flex-direction: column;
flex-wrap: wrap;
font-family: 'Bebas Neue';
}

.product {
  display: flex;
  flex-direction: column;
}

.forSale {
  font-size: 48px;
}